*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(mk.jpg) no-repeat center / cover fixed;
    font-family: Arial, Helvetica, sans-serif;
}

.palette-wrap {

    width: 1200px;
    margin: 0 outo;
}




.palette-block {
    margin-bottom: 3rem;
    position: relative;
    padding-right: 30px;
}


.dot li {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    list-style: none;
    display: inline-block;
    margin: 20px;
    position: absolute;
    top: 50px;
     box-shadow:0 24px 40px rgba(0,0,0,0.35);
    transition:transform 160ms ease;
    text-align: center;
}

.c2 {
    left: 80px;
}

.c3 {
    left: 160px;
}

.c4 {
    left: 240px;
}

.c5 {
    left: 320px;
}

.c6 {
    left: 400px;
}

.c7 {
    left: 480px;
}

.c8 {
    left: 560px;
}

.dot {
    position: absolute;
    top: 0px;
}

.dot1 {
    top: 200px;
}


.dot2 { top: 400px;  }
.dot3 {  top: 600px; }
.dot4 {  top: 800px; }
.dot5 {  top: 1000px; }


.dot li:hover {
    transform: scale(1.1);
    transform: translateY(-4px);
    transition: transform 0.3s;
    z-index: 1;
}

@media (max-width: 700px) {
   body {
       overflow-y: hidden;
}
}